* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: 100%;
}
.logo {
    width: 18%;
}
header h1 {
    margin-top: 8px;
    font-size: 1.5rem;
    margin-bottom: 15px;
}
header h2 {
    margin-top: 8px;
    font-size: 1rem;
    margin-bottom: 10%;
}
.main {
    margin-top: 12%;
    text-align: center;
    border: 1px solid lightgrey;
    border-radius: 0.5rem;
    padding-top: 3%;
    padding-bottom: 3%;
    width: 450px;
}
body {
    display: flex;
    justify-content: center;
}
input {
    width: 350px;
    height: 50px;
    font-size: 2rem;
}
.btn {
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
    justify-content: space-between;
}
.button {
    color: white;
    background-color: blue;
    width: 85px;
    height: 35px;
    border: 1px solid blue;
    border-radius: 0.2rem;
}
.signup {
    text-decoration: none;
}
section {
    margin-bottom: 20%;
}