* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: 100%;
}
header {
    background-color: black;
    margin-bottom: 10%;
    text-align: center;
    padding-bottom: 3%;
}
.logo {
    margin: 5px;
    width: 80px;;
}
header h1 {
    color: white;
    font-size: 4rem;
    text-align: center;
    padding-top: 8px;
}

section {
    text-align: center;
    padding-bottom: 5%;
}

.cen {
    margin: 0;
    text-align: center;
    margin-bottom: 1%;
}
div>a {
    color: black;
    text-decoration: none;
}
.center {
    margin: 0;
   text-align: center;
}
input {
    width: 600px;
    height: 60px;
    font-size: 2rem;
}
::placeholder {
    font-size: 2rem;
}
div button {
    width: 10%;
    height: 3rem;
    margin-bottom: 3%;
}
.home {
    text-align: center;
    text-decoration: none;
}