header{
    background-color: black;
    height: 130px;
}
header h1{
    color: white;
    font-size: 4rem;
    text-align: center;
    padding-top: 16px;
}
div{
    margin-top: 150px;
}
div main{
    text-align: center;
}
div main a{
    padding-top: 20px;
}
div main ::placeholder{
    font-size: 30px;
}
input{
    width: 500px;
    height: 50px;
}